node_modules
uploads
.travis.yml
.idea/
hof-services-config
pull-request-template.md
.DS_Store
.git
.gitignore
.npmrc
test
node_modules
npm-debug.log
yarn-error.log
.cache
.drone.yml
Dockerfile
.dockerignore